<template>
  <apexchart :width="chartWidth" :height="chartHeight" :type="chartType" :options="chartOptions" :series="chartSeries"> </apexchart>
</template>

<script>
export default {
  name: 'ColumnChart',
  props: ['chartType', 'chartWidth', 'chartHeight', 'chartOptions', 'chartSeries']
};
</script>
