<template>
  <apexchart :width="barChartStyle.width" :height="barChartStyle.height" type="bar" :options="chartOptions" :series="chartSeries"> </apexchart>
</template>

<script>
export default {
  name: 'DonutChart',
  props: ['barChartStyle', 'chartOptions', 'chartSeries']
};
</script>
