<template>
  <AuthBox>
    <template>
      <form>
        <!-- Login Form -->
        <span v-if="authMode === 'login'">
          <FormGroup :name="$t('form.auth.email')" :validator="$v.authDataForm.email">
            <VsInput
              class="w-full"
              name="email"
              @keyup="onChange"
              v-model.trim="authDataForm.email"
              :value="authDataForm.email"
              :danger="$v.authDataForm.email.error"
              :label="$t('form.auth.email')"
              :placeholder="$t('form.auth.email')"
              @input="$v.authDataForm.email.$touch()"
              @blur="$v.authDataForm.email.$touch()"
              :disabled="isLoading"
            />
          </FormGroup>
          <FormGroup :name="$t('form.auth.password')" :validator="$v.authDataForm.password">
            <VsInput
              class="w-full"
              type="password"
              name="password"
              @keyup="onChange"
              :value="authDataForm.password"
              :danger="$v.authDataForm.password.error"
              v-model.trim="authDataForm.password"
              :label="$t('form.auth.password')"
              :placeholder="$t('form.auth.password')"
              @input="$v.authDataForm.password.$touch()"
              @blur="$v.authDataForm.password.$touch()"
              :disabled="isLoading"
            />
          </FormGroup>
        </span>

        <!-- Reset Password Form -->
        <span v-if="authMode === 'resetPassword'">
          <FormGroup :name="$t('form.auth.password_new')" :validator="$v.authDataResetPasswordForm.newPassword">
            <VsInput
              class="w-full"
              type="password"
              name="newPassword"
              @keyup="onChange"
              :value="authDataResetPasswordForm.newPassword"
              v-model.trim="authDataResetPasswordForm.newPassword"
              :danger="$v.authDataResetPasswordForm.newPassword.error"
              :label="$t('form.auth.password_new')"
              :placeholder="$t('form.auth.password_new')"
              @input="$v.authDataResetPasswordForm.newPassword.$touch()"
              @blur="$v.authDataResetPasswordForm.newPassword.$touch()"
              :disabled="isLoading"
            />
          </FormGroup>
          <FormGroup :name="$t('form.auth.password_confirmation')" :validator="$v.authDataResetPasswordForm.passwordConfirmation">
            <VsInput
              class="w-full"
              type="password"
              name="passwordConfirmation"
              @keyup="onChange"
              :value="authDataResetPasswordForm.passwordConfirmation"
              v-model.trim="authDataResetPasswordForm.passwordConfirmation"
              :danger="$v.authDataResetPasswordForm.passwordConfirmation.error"
              :label="$t('form.auth.password_confirmation')"
              :placeholder="$t('form.auth.password_confirmation')"
              @input="$v.authDataResetPasswordForm.passwordConfirmation.$touch()"
              @blur="$v.authDataResetPasswordForm.passwordConfirmation.$touch()"
              :disabled="isLoading"
            />
          </FormGroup>
        </span>
        <!-- <div class="flex flex-row justify-end">
          <p class="font-poppins-regular" @click="switchAuthMode" style="cursor:pointer;">
            {{ $t(authMode === 'login' ? 'content.auth.forgot_password' : 'content.auth.have_an_account') }}
          </p>
        </div> -->
        <div class="flex flex-row w-full">
          <vs-button
            id="button-loading"
            class="px-10 mt-6 w-full text-sm vs-con-loading__container"
            vslor="primary"
            @click.native="onSubmit"
            :disabled="isLoading"
          >
            {{ $t(authMode === 'login' ? 'form.auth.btn_login' : 'submit') }}
          </vs-button>
        </div>
      </form>
    </template>
  </AuthBox>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import AuthBox from '@/components/Auth/Box';
import { required, email } from 'vuelidate/lib/validators';

export default {
  name: 'LoginPage',
  components: {
    AuthBox
  },
  data() {
    return {
      authMode: this.$route.query.authMode || 'login'
    };
  },
  validations: {
    authDataForm: {
      email: { required, email },
      password: { required }
    },
    authDataResetPasswordForm: {
      newPassword: { required },
      passwordConfirmation: { required }
    }
  },
  computed: {
    ...mapState('Auth', ['authDataForm', 'authDataResetPasswordForm', 'isLoading']),
    ...mapGetters({
      isAuthenticated: 'Auth/isAuthenticated'
    })
  },
  methods: {
    switchAuthMode() {},
    onChange(event) {
      this.$store.commit('Auth/SET_AUTH_DATA_FORM', {
        authMode: this.authMode,
        target: event.target
      });
    },
    onSubmit() {
      // Check the authMode state
      if (this.authMode === 'login') {
        this.$v.authDataForm.$touch();
        if (this.$v.authDataForm.$invalid) return;
      } else if (this.authmode === 'resetPassword') {
        this.$v.authDataResetPasswordForm.$touch();
        if (this.$v.authDataResetPasswordForm.$invalid) return;
      }

      let dispatch = '';
      let authForm = {};
      switch (this.authMode) {
        case 'login':
          dispatch = 'Auth/login';
          authForm = this.authDataForm;
          break;
        case 'resetPassword':
          dispatch = 'Auth/resetPassword';
          authForm = this.authDataResetPasswordForm;
          break;
        default:
          dispatch = 'Auth/login';
          authForm = this.authDataForm;
      }

      this.$vs.loading({
        container: '#button-loading',
        scale: 0.6
      });

      this.$store
        .dispatch(dispatch, authForm)
        .then(() => {
          // TODO(Huda): Will handle redirect later
          if (this.authMode === 'login') {
            this.$router.push({ name: 'Dashboard', replace: true });
          } else {
            alert('reset password succes');
          }
        })
        .catch(() => {
          // this.$store.dispatch('General/showErrorReqNotification', err);
        })
        .finally(() => {
          this.$vs.loading.close('#button-loading> .con-vs-loading');
        });
    }
  },
  created() {
    if (this.isAuthenticated && this.$route.query.authMode !== 'resetPassword') {
      this.$router.push({ name: 'Dashboard' });
    }
  }
};
</script>
