<template>
  <div>
    <!-- Heading -->
    <h1 class="heading-page"><span>Welcome</span>, <span class="text-primary">John Doe</span></h1>

    <!-- Content (Chart(Active visitor) & User List)  -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-12 mb-12">
      <div class="col-span-1 md:col-span-3">
        <CommonCard cardClass="overflow-hidden" cardStyle="height: 350px">
          <!-- Card Header -->
          <CommonCardHeader title="Active Visitor" titleClass="text-primary" headerClass="flex flex-row justify-between items-center ml-4" />

          <!-- Body -->
          <div style="overflow-x: auto">
            <apexchart
              :width="barChartStyle.width"
              :height="barChartStyle.height"
              type="bar"
              :options="{ ...activeVisitor.chartOptions, series: [...activeVisitor.series, { data: userChartData }] }"
              :series="activeVisitor.series"
            >
            </apexchart>
          </div>
        </CommonCard>
      </div>
      <div>
        <CommonCard cardStyle="height: 350px;" cardClass="flex flex-col justify-between">
          <!-- Card Header -->
          <CommonCardHeader title="User List" titleClass="text-primary" />

          <ul class="list-common">
            <li
              class="list-common-item flex flex-row items-center"
              style="padding-bottom: 15px; padding-top: 15px"
              v-for="(user, index) of users"
              :key="index"
            >
              <!-- Image -->
              <div class="bg-grey-001 rounded-full" style="width: 28px; height: 28px"></div>

              <p class="ml-4">{{ user }}</p>
            </li>
          </ul>

          <div class="flex flex-row text-cente justify-center">
            <vs-button class="button-common" @click.native="onSeeUsers()" color="primary">
              See All
            </vs-button>
          </div>
        </CommonCard>
      </div>
    </div>

    <!-- Content (Chart(Get service) & Document) -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div>
        <CommonCard>
          <!-- Card Header -->
          <CommonCardHeader title="Get Service" titleClass="text-primary" />

          <div class="flex justify-center">
            <apexchart
              type="donut"
              width="400px"
              height="275px"
              :options="{ ...service.chartOptions, series: serviceChartData }"
              :series="service.series"
            ></apexchart>
          </div>
        </CommonCard>
      </div>
      <div>
        <CommonCard cardClass="overflow-hidden">
          <!-- Card Header -->
          <CommonCardHeader title="Document" titleClass="text-primary" />

          <div class="flex flex-col md:flex-row justify-center md:justify-around w-full h-full items-center">
            <div class="flex flex-row justify-center items-center mb-4 md:mb-0">
              <img :src="require('@/assets/images/dashboard/document.png')" alt="document" style="width: 102px; height: 102px" />
              <h6 class="font-poppins-regular ml-4">
                <span class="font-poppins-semibold text-warning" style="font-size: 20px">
                  6
                </span>
                <span>Doc</span>
              </h6>
            </div>
            <div>
              <ul class="list-common text-center md:text-left">
                <li class="list-common-item">User Manual</li>
                <li class="list-common-item">Payment Method</li>
                <li class="list-common-item">How to Add User</li>
                <li class="list-common-item">How to Change Service</li>
                <li class="list-common-item">How Upgrade Service</li>
                <li class="list-common-item">How to Stop Service</li>
              </ul>
            </div>
          </div>
        </CommonCard>
      </div>
    </div>
  </div>
</template>

<script>
// Components
import { CommonCard, CommonCardHeader } from '@/components/Base';

// Vuex
import { mapState } from 'vuex';

// Fake chart datas
import activeUsersData from './fakeDataActiveVisitorChart';
import serviceData from './fakeDataService';

// Mixins
import { mobileMixin } from '@/mixins';

export default {
  mixins: [mobileMixin],
  name: 'Dashboard',
  components: {
    CommonCard,
    CommonCardHeader
  },
  data: () => ({
    activeVisitor: {
      ...activeUsersData
    },
    service: {
      ...serviceData
    },
    users: ['Lattie Stevenson', 'Harold Boyd', 'Mike Miles']
  }),
  computed: {
    ...mapState('Auth', ['token']),
    ...mapState('User', ['isUserLoading', 'userChartData']),
    ...mapState('Service', ['isServiceLoading', 'serviceChartData']),
    barChartStyle() {
      return {
        width: this.isAllMobileSizeWidth ? '760px' : '100%',
        height: 260
      };
    }
  },
  created() {
    this.getUserChartData();
    this.getServiceChartData();
  },
  methods: {
    onSeeUsers() {
      this.$router.push('/users');
    },

    getUserChartData() {
      this.$store
        .dispatch('User/getUserChartData')
        .then(res => console.log('SUCCESS WHEN FETCHING USER CHART DATA', res))
        .catch(err => console.error('ERROR WHEN FETCHING USER CHART DATA', err));
    },

    getServiceChartData() {
      this.$store
        .dispatch('Service/getServiceChartData')
        .then(res => console.log('SUCCESS WHEN FETCHING SERVICE CHART DATA', res))
        .catch(err => console.error('ERROR WHEN FETCHING SERVICE CHART DATA', err));
    },

    onLogout() {
      this.$store
        .dispatch('Auth/logout', {
          token: this.token
        })
        .then(() => {
          this.$router.push({ name: 'Auth' });
        })
        .catch(err => console.log(err));
    }
  }
};
</script>
