<template>
  <div class="card-common" :class="cardClass" :style="cardStyle">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'CommonCard',
  props: ['cardClass', 'cardStyle']
};
</script>
