<template>
  <div class="card-common-header" :class="headerClass" :style="headerStyle">
    <div>
      <h3 class="card-common-header-title" :class="titleClass" :style="titleStyle">{{ title }}</h3>
    </div>
    <div>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CommonCardHeader',
  props: ['title', 'headerClass', 'headerStyle', 'titleClass', 'titleStyle']
};
</script>
