<template>
  <div class="mb-4 xl:mb-4 lg:mb-4 md:mb-4">
    <slot />
    <div v-if="hasErrors" class="mt-2 overflow-hidden">
      <div v-for="(error, errorIndex) in activeErrorMessages" :key="errorIndex" class="error text-red-700 text-xs">
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
import { singleErrorExtractorMixin } from 'vuelidate-error-extractor';

export default {
  name: 'FormGroup',
  mixins: [singleErrorExtractorMixin]
};
</script>
