<template>
  <div class="navbar" :class="setNavbarClass()">
    <div class="navbar-container">
      <div class="navbar-item navbar-item-first h-full">
        <img
          :src="require('@/assets/images/navbar/hamburger.png')"
          @click="onSidebarOpen"
          alt="roads-id-navbar-hamburger"
          style="width: 24px; height: 24px; margin-right: 10px; margin-left: 10px; cursor: pointer;"
        />
        <img :src="require('@/assets/images/auth/auth-logo-grid-black.png')" alt="roads-id-navbar" class="navbar-logo" />
      </div>
      <div class="navbar-item navbar-item-second h-full mr-12">
        <img :src="require('@/assets/images/navbar/bell.png')" class="navbar-bell" alt="navbar-bell" style="cursor: pointer;" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'DashboardNavbar',
  props: ['openSidebar'],
  computed: {
    ...mapState('General', ['isSidebarOpen'])
  },
  created() {
    this.setNavbarClass();
  },
  methods: {
    onSidebarOpen() {
      this.$store.commit('General/HANDLE_SIDEBAR');
    },

    setNavbarClass() {
      return {
        navbar: true,
        'navbar-full': !this.isSidebarOpen
      };
    }
  }
};
</script>
