<template>
  <div class="m-5">
    <div v-if="isLogout">
      <div @click="onLogout" style="cursor: pointer;" class="p-2 flex flex-row items-center" active-class="active">
        <img :src="img" :alt="name" class="side-nav-link-icon" />
        <p class="font-poppins-semibold ml-4" :class="setTitleClass()">{{ isLogouting ? 'Logging out...' : title }}</p>
      </div>
    </div>
    <div v-else>
      <router-link :to="url" class="p-2 flex flex-row items-center" active-class="active">
        <img :src="img" :alt="name" class="side-nav-link-icon" />
        <p class="font-poppins-semibold ml-4" :class="setTitleClass()">{{ title }}</p>
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'SidebarItemLink',
  props: ['url', 'isLogout', 'img', 'title', 'name'],
  computed: {
    ...mapState('Auth', ['isLoading'])
  },
  data: () => ({
    isLogouting: false
  }),
  methods: {
    setTitleClass() {
      let currentUrlName = window.location.pathname.split('/').join('');

      return {
        'text-white': currentUrlName !== this.name,
        'text-warning': currentUrlName == this.name
      };
    },
    onLogout() {
      if (!this.isLoading) {
        this.isLogouting = true;
        this.$store
          .dispatch('Auth/logout')
          .then(() => {
            this.$router.push({ name: 'Auth', replace: true });
            this.isLogouting = false;
          })
          .catch(err => {
            console.error(err);
            this.isLogouting = false;
          });
      }
    }
  }
};
</script>

<style lang="sass">
.side-nav-link-icon
    width: 24px
    height: 24px

.active
    background-color: #ffffff
    color: #E2A230
    border-radius: 4px
</style>
