<template>
  <div>
    <div class="sidebar flex flex-col justify-between bg-primary relative" :class="setSidebarClass()">
      <!-- Close sidebar button -->
      <div class="sidebar-close-container" @click="onSidebarClose">
        <p class="h-full flex items-center justify-center font-poppins-bold text-danger">X</p>
      </div>

      <div style="padding: 10px">
        <div v-if="isSidebarOpen">
          <!-- Sidebar Header -->
          <div class="sidebar-header">
            <!-- Sidebar Profile info Box -->
            <div class="sidebar-profile-info bg-white">
              <div class="flex flex-col justify-center items-center">
                <!-- Sidebar Profile image -->
                <div class="bg-grey-001 rounded-full sidebar-profile-image mb-4"></div>
                <!--Replace this div with image, but keep the class  -->
                <h5 class="text-primary font-poppins-semibold">
                  John Doe
                </h5>
                <p class="font-poppins-regular text-grey-000" style="font-size: 10px">
                  Admin
                </p>
              </div>
            </div>
          </div>

          <div style="border-bottom: .5px #E2A230 solid"></div>

          <!-- Sidebar items -->
          <div>
            <SidebarItemLink url="/dashboard" title="Home" name="dashboard" :img="require('@/assets/images/sidebar/user.png')" />
            <SidebarItemLink url="/users" title="User Management" name="users" :img="require('@/assets/images/sidebar/user.png')" />
            <SidebarItemLink url="/companies" title="Company Management" name="companies" :img="require('@/assets/images/sidebar/company.png')" />
            <SidebarItemLink url="/documents" title="Document Management" name="documents" :img="require('@/assets/images/sidebar/document.png')" />
            <SidebarItemLink url="/services" title="Service Management" name="services" :img="require('@/assets/images/sidebar/service.png')" />
          </div>
        </div>
      </div>

      <div style="padding: 10px">
        <div style="border-bottom: .5px #E2A230 solid"></div>
        <SidebarItemLink url="" :isLogout="true" title="Logout" name="logout" :img="require('@/assets/images/sidebar/logout.png')" />
      </div>
    </div>
  </div>
</template>

<script>
// Components
import SidebarItemLink from '../Dashboard/SidebarItemLink';

// Vuex
import { mapState } from 'vuex';

// Mixins
import { mobileMixin } from '@/mixins';

export default {
  mixins: [mobileMixin],
  name: 'DashboardSidebar',
  components: {
    SidebarItemLink
  },
  computed: {
    ...mapState('General', ['isSidebarOpen'])
  },
  created() {
    this.onResize(window);

    if (this.isAllMobileSizeWidth && this.isSidebarOpen) this.$store.commit('General/HANDLE_SIDEBAR');
  },
  methods: {
    setSidebarClass() {
      return {
        'sidebar-close': !this.isSidebarOpen,
        'sidebar-open': this.isSidebarOpen
      };
    },
    onSidebarClose() {
      if (this.isSidebarOpen) {
        this.$store.commit('General/HANDLE_SIDEBAR');
      }
    }
  }
};
</script>
