<template>
  <Information v-slot:default="slotProps">
    <div class="flex flex-col items-center justify-center" v-if="slotProps.query.type !== 'maintenance'">
      <div v-if="!slotProps.query.code">
        <img
          :src="slotProps.information.image"
          class="information-inside-laptop-img"
          alt="information-inside-laptop"
          :class="slotProps.setInsideLaptopImageClass()"
        />
      </div>
      <div v-else>
        <p style="font-size: 106px;" class="text-warning font-poppins-semibold" :class="slotProps.setCodeClass()">
          {{ slotProps.query.code }}
        </p>
      </div>
      <h3 class="information-heading font-bold font-poppins-semibold" :class="slotProps.setHeadingClass()">
        {{ slotProps.information.status }}
      </h3>
      <p class="information-paragraph font-poppins-regular text-center text-white md:text-black">
        {{ slotProps.information.message }}
      </p>
      <vs-button
        class="information-button px-10 mt-8 text-sm font-poppins-semibold"
        :class="slotProps.setButtonClass()"
        :color="slotProps.information.color"
        @click.native="onRedirect(slotProps.information.url ? slotProps.information.url : '/')"
      >
        {{ slotProps.query.code ? 'Back to home' : 'OK' }}
      </vs-button>
    </div>
  </Information>
</template>

<script>
import Information from '../../components/Information/Information';

export default {
  name: 'InformationCommon',
  props: ['information', 'setHeadingClass'],
  components: {
    Information
  },
  methods: {
    onRedirect(url) {
      this.$router.push(url);
    }
  }
};
</script>
