<template>
  <div class="flex flex-wrap w-full bg-white">
    <div class="flex w-1/2 lg:w-1/3 justify-start mb-4 text-sm">
      <slot name="header-left" />
    </div>
    <div class="flex w-1/3 justify-center items-center mb-4">
      <span class="text-sm hidden lg:block">{{ $t('table.show') }}</span>
      <vs-select v-model="option" icon="unfold_more" autocomplete width="70px" class="mx-4 text-sm">
        <vs-select-item :key="item" :value="item" :text="item" v-for="item in optionList" />
      </vs-select>
      <span class="text-sm hidden lg:block">{{ $t('table.entries') }}</span>
    </div>
    <div v-if="!hideSearch" id="search" class="flex w-1/2 lg:w-1/3 justify-end mb-4">
      <vs-input class="text-sm" icon="search" placeholder="search" v-model="search" />
    </div>
  </div>
</template>

<script>
import { debounce } from 'lodash';
import { mapGetters } from 'vuex';

export default {
  name: 'TableHeader',
  props: {
    hideSearch: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters({
      optionList: 'Table/optionList'
    })
  },
  data: () => ({
    option: 10,
    search: ''
  }),
  watch: {
    option(val) {
      this.$store.commit('Table/SET_DEFAULT_LIMIT', val);
      this.fetch();
    },
    search(val) {
      this.$store.commit('Table/SET_DEFAULT_SEARCH', val);
      this.fetch();
    }
  },
  methods: {
    fetch: debounce(function() {
      this.$emit('fetch');
    }, 500)
  }
};
</script>

<style lang="sass" scoped>
/deep/ #search .vs-input--placeholder
  padding-left: 40px !important
</style>
