<template>
  <div class="flex flex-col md:flex-row flex-end items-center pt-8">
    <div class="w-full md:w-1/2 text-sm">
      {{ $t('table.information', { minRows, maxRows, total: pageable.totalElements }) }}
    </div>
    <div class="w-full md:w-1/2 flex md:flex-end bpi-pagination">
      <VsPagination class="font-normal" v-model="currentPage" :total="pageable.totalPages" />
    </div>
  </div>
</template>

<script>
import { debounce } from 'lodash';
export default {
  name: 'TableFooter',
  props: {
    pagingTable: {
      type: Number,
      default: 0
    },
    hidePaginate: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    pageable() {
      return this.$store.getters['Table/pageableById'](this.pagingTable);
    }
  },
  data: () => ({
    currentPage: 1,
    maxRows: 0,
    minRows: 0
  }),
  watch: {
    currentPage(val) {
      if (val !== this.pageable.currentPage) {
        this.$store.commit('Table/SET_DEFAULT_CURRENT_PAGE', val);
        this.movePage();
      }
    },
    pageable: {
      deep: true,
      handler() {
        this.currentPage = this.pageable.currentPage;
        this.calculateMinMax(this.currentPage);
      }
    }
  },
  methods: {
    movePage: debounce(function() {
      this.$emit('fetch');
    }, 500),

    calculateMinMax(val) {
      this.maxRows = val * this.pageable.limit <= this.pageable.totalElements ? val * this.pageable.limit : this.pageable.totalElements;
      this.minRows =
        val * this.pageable.limit <= this.pageable.totalElements
          ? this.maxRows - this.pageable.limit + 1
          : (this.pageable.currentPage - 1) * this.pageable.limit + 1;
    }
  }
};
</script>
