<template>
  <component :is="layout">
    <router-view />
  </component>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'App',
  computed: {
    ...mapGetters({
      isAuthenticated: 'Auth/isAuthenticated'
    }),
    layout() {
      return `${this.$route.meta.layout || 'empty'}-layout`;
    }
  },
  watch: {
    isAuthenticated: {
      immediate: true,
      handler(loggined) {
        if (loggined) {
          this.$store.dispatch('Auth/getProfile');
        }
      }
    }
  }
};
</script>

<style lang="sass">
html,body
  height: 100%;

body
  height: 100%;
</style>
