@font-face 
    font-family: "Poppins-Regular"
    src: local("Poppins-Regular")
    src: url('../fonts/Poppins-Regular.ttf') format("truetype")

@font-face
    font-family: "Poppins-Bold"
    src: local("Poppins-Bold")
    src: url('../fonts/Poppins-Bold.ttf') format("truetype")

@font-face
    font-family: "Poppins-SemiBold"
    src: local("Poppins-SemiBold")
    src: url('../fonts/Poppins-SemiBold.ttf') format("truetype")

body
    background: #F4FAFF

// ========== Information SASS
.information
    &-container
        background: url('~@/assets/images/information/information-background.png') no-repeat center center/cover

    &-showcase-common
        background: url('~@/assets/images/information/information-laptop.png') no-repeat center center fixed

    &-showcase-maintenance
        background: url('~@/assets/images/information/information-under-maintenance.png') no-repeat center center fixed

    &-showcase-server
        background: url('~@/assets/images/information/information-server.png') no-repeat center center fixed

    &-showcase-server-second
        background: url('~@/assets/images/information/information-server-second.png') no-repeat center center fixed

    &-showcase-common-size
        background-size: 743px 483px

    &-showcase-server-second-size
        background-size: 927px 483px

    &-showcase
        position: relative

    &-laptop-img
        width: 700px
        height: 483px

    &-inside-laptop-img
        width: 115px
        height: 115px

    &-heading
        font-size: 20px

    &-paragraph
        font-size: 12px

    &-button
        width: 150px
        height: 34px

// ========== End Information

// ========== Dashboard Layout
.dashboard
    &-container
        transition: all .3s ease
        padding: 20px 30px

        &-collapse
            margin-left: 0px !important

        &-uncollapse
            margin-left: 263px !important

.navbar
    background-color: #fff
    box-shadow: 0 5px 15px 0 rgba(198,198,198,0.32)
    height: 56px
    overflow: hidden
    margin-left: 263px
    width: auto
    transition: all .3s ease

    &-full
        margin-left: 0px !important

    &-container
        display: flex
        justify-content: space-between
        align-items: center
        height: 100%

    &-logo
        width: 124px
        height: 32px

    &-bell
        width: 24px
        height: 24px

    &-item
        display: flex 
        align-items: center
        
        &-first
            justify-content: flex-start

        &-second
            justify-content: flex-end

.sidebar
    transition: all .3s ease
    width: 263px
    height: 100%
    position: fixed
    overflow-y: auto
    top: 0
    left: 0
    z-index: 1
    box-shadow: 0 7px 20px 0 rgba(62,137,249,0.5)

    &-close-container
        position: absolute
        background-color: white
        box-shadow: 0 5px 15px 0 rgba(198,198,198,0.32)
        top: 5px
        right: 5px
        z-index: 2
        border-radius: 50%
        height: 25px
        width: 25px
        cursor: pointer
        display: none

        @media (min-width: 0px) and (max-width: 768px)
            display: block
        

    &-close
        width: 0px !important

    &-open
        width: 263px !important

    &-header 
        padding: 25px
        
    &-profile-info
        padding: 10px
        border-radius: 8px
        box-shadow: 0 5px 15px 0 rgba(198,198,198,0.32)
        
    &-profile-image
        height: 64px
        width: 64px


// Responsive for Dashboad layout
@media (min-width: 0px) and (max-width: 768px)
    .dashboard-container
        margin-left: 0px !important

        &-uncollapse
            margin-left: 0px !important

    .navbar
        margin-left: 0px

        &-item
            &-second
                margin-right: 10px


// ========== End Dashboard Layout


// ========== Card Component

.card-common
    padding: 15px
    background-color: #fff
    box-shadow: 0 5px 15px 0 rgba(198,198,198,0.32)
    border-radius: 8px

    &-header 
        margin-bottom: 20px

        &-title
            font-size: 16px
            line-height: 25px
            font-family: Poppins-SemiBold
    
// ========== End Card Component


// ========== Button Component

.vs-button
    box-shadow: 0 5px 15px 0 rgba(62,137,249,0.3)

.button-common
    width: 116px

// ========== End Button Component


// ========== Utils

.list-common
    padding: 5px

    &-item
        padding: 5px
        font-family: Poppins-Regular
        margin-bottom: 10px
        border-bottom: .5px #dedede solid !important

    &-item:last-child
        border-bottom: none !important

// ========== End Utils



// ========== Heading Component

.heading-page
    font-size: 20px
    font-family: 'Poppins-SemiBold'
    margin-bottom: 20px

// ========== End Heading Component

.vs
    &-select,
    &-input
        &--label
            font-weight: bold
            padding-left: 0 !important
            display: block
            margin-bottom: 10px
        &--placeholder
            margin-top: 4px

.btn
    @apply font-bold py-2 px-4 rounded
    &-primary
        @apply bg-purple-700 text-white
        &:hover
            @apply bg-purple-800
        &.outline
            @apply bg-white border border-purple-700 text-purple-700
            &:hover
                @apply text-white bg-purple-800

.form-group
    @apply flex
    @apply flex-wrap

.vs-table--header
    @apply bg-white

.vs-table--thead tr
    box-shadow: 0 0 0 0 #c0d6df
    @apply bg-white

.vs-table--thead tr th
    @apply py-4
        font-weight: 600

.vs-con-table
    background: #f5faff

.vs-con-table.stripe .tr-values:nth-child(2n)
    @apply bg-grey-004

.vs-con-table table
    border-radius: 4px !important

.v-collapse-content
    max-height: 0
    transition: max-height 0.3s ease-out
    overflow: hidden
    padding: 0

.vs-table--tbody-table .tr-values:last-child
    border-bottom: 1px solid #dedede

.v-collapse-content-end
    transition: max-height 0.3s ease-in
    max-height: 100%

.vs-table--pagination
    @apply bg-white

.con-vs-pagination .vs-pagination--nav
    @apply bg-transparent
        border-radius: 15px

.vs-pagination--nav .vs-pagination--ul
    @apply bg-white
        padding-left: 0
        padding-right: 0

.vs-pagination--nav .vs-pagination--ul .vs-pagination--li.is-current
    @apply text-white

.vs-pagination--nav .vs-pagination--ul .vs-pagination--li
    @apply text-grey-001
        font-weight: bold !important
        font-size: 12px

.vs-pagination--buttons.vs-pagination--button-prev,
.vs-pagination--buttons.vs-pagination--button-next
    @apply bg-primary
    @apply text-white
    @apply rounded-lg

.vs-pagination--buttons.disabled, .vs-pagination--buttons:disabled
    @apply bg-grey-001
    @apply text-white
    @apply rounded-lg
        opacity: 1 !important

.vs-pagination--nav .vs-pagination--ul .vs-pagination--li.is-current
    font-weight: normal

.vs-pagination--nav .vs-pagination--ul .vs-pagination--li .effect
    @apply rounded-lg

// -------------- SELECT CUSTOM --------------
.vs-select--label
    @apply text-black

.vuesax-app-is-ltr .vs-select--icon
    @apply text-primary

// -------------- CHECKBOX CUSTOM --------------
.vs-checkbox .material-icons
    font-size: 12px !important

.vs-checkbox-success .vs-checkbox
    border-radius: 100px
    width: 16px !important
    height: 16px !important

.vs-checkbox-danger .vs-checkbox
    border-radius: 100px
    width: 16px !important
    height: 16px !important

.vs-checkbox--input:disabled+.vs-checkbox
    opacity: 1
