<template>
  <div>
    <Navbar />
    <Sidebar />
    <slot />
  </div>
</template>

<script>
import Navbar from '@/components/Partial/Dashboard/Navbar';
import Sidebar from '@/components/Partial/Dashboard/Sidebar';

export default {
  name: 'DefaultLayout',
  components: {
    Navbar,
    Sidebar
  }
};
</script>
