<template>
  <div class="auth-container">
    <div class="auth-box flex items-center h-full p-4 md:p-12 sm:p-4">
      <div class="auth-second-box bg-white rounded-2xl xl:h-full w-full relative grid xl:grid-cols-2 grid-cols-1">
        <!-- First Column -->
        <div class="auth-box-first-col h-full flex flex-col justify-center xl:mx-24 md:mx-16 mx-6">
          <img :src="require('@/assets/images/auth/auth-logo-grid-black.png')" class="auth-logo" alt="roads-logo-black" />

          <!-- First Column - Header -->
          <div class="auth-box-first-col-heading">
            <h3 class="font-bold font-poppins-bold auth-heading">{{ authTitle }}</h3>
            <p class="font-light font-poppins-regular md:text-xl text-base" style="color: #aaa;">{{ authParagraph }}</p>
          </div>

          <!-- Slot for form -->
          <slot />
        </div>

        <!-- Second Column -->
        <div class="auth-box-second-col hidden xl:block">
          <div class="h-full flex flex-col items-center justify-center">
            <img :src="require('@/assets/images/auth/auth-logo-grid-white.png')" class="auth-logo" alt="roads-logo-white" />
            <p class="auth-paragraph text-center font-poppins-regular font-thin">
              Controlling key business processes and increasing efficiency have become a crucial necessity. Get real-time data to make measured and
              informed decisions, control costs and track key indicators for scaling up your business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthBox',
  data() {
    return {
      authMode: this.$route.query.authMode || 'login',
      authTitle: '',
      authParagraph: ''
    };
  },
  components: {},
  created() {
    this.renderWording();
  },
  methods: {
    renderWording() {
      switch (this.authMode) {
        case 'login':
          this.authTitle = this.$t('content.auth.login_title');
          this.authParagraph = this.$t('content.auth.login_subtitle');
          break;
        case 'resetPassword':
          this.authTitle = this.$t('content.auth.reset_password');
          this.authParagraph = this.$t('content.auth.reset_password_subtitle');
          break;
        default:
          return null;
      }
    }
  }
};
</script>

<style lang="sass">
.auth
  // Wrapper
  &-container
    height: 100vh
    padding: 40px 60px

  // Second Wrapper
  &-box
    background: url('~@/assets/images/auth/auth-background.png')
    background-size: cover
    background-position: center center
    border-radius: 16px

  &-box-first-col
    &-heading
      font-size: 18px
      margin: 32px 0px

  // Second Wrapper
  &-second-box
    border-radius: 8px

  // Second Wrapper - Second Grid Col Box
  &-box-second-col
    background: url('~@/assets/images/auth/auth-background-grid.png') no-repeat center center/cover
    border-radius: 8px
    margin: 10px

  // Roads.id - Logo
  &-logo
    width: 301px
    height: 78px

  &-paragraph
    color: #fff
    font-size: 12px
    margin-top: 20px
    padding: 0px 30px

  // Responsive
  // Mobile(Portrait) with 0px ~ 320px
  @media (min-width: 0px) and (max-width: 320px)
    &-second-box
      margin: 0px
      padding: 0px

    &-box
      background: none

    &-logo
      height: 60px

  // Mobile(Portrait) with 321px ~ 720px
  @media (min-width: 321px) and (max-width: 768px)
    &-second-box
      height: 592px

  // Mobile(Portrait) All viewport
  @media (min-width: 0px) and (max-width: 768px)
    &-container
      padding: 0px

  // Mobile(Landscape) with 0px ~ 320px
  @media (min-height: 0px) and (max-height: 320px)
    &-box-first-col
      margin-top: 50px

  // Mobile(Landscape) with 321px ~ 375px
  @media (min-height: 321px) and (max-height: 1024px)
    &-box-first-col
      padding: 20px
</style>
